name: release

on: workflow_dispatch

jobs:

  release-mac:
    name: release-mac
    runs-on: macos-12
    timeout-minutes: 10

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: 23.x

      - name: Install pnpm
        run: npm install -g pnpm@^8

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Packing for mac
        run: |
          rm -rf ./.github
          npm run pack:mac

      - name: Create zip package
        run: |
          npm run build:mac-zip

      - name: Upload binaries to GitHub release
        uses: svenstaro/upload-release-action@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: './dist/installers/*.*'
          tag: ${{ github.ref }}
          file_glob: true

      - name: Upload binaries to GitHub repository
        uses: actions/upload-artifact@v4
        if: github.ref == 'refs/heads/main'
        with:
          name: mac-installers
          path: ./dist/installers/*.*
          overwrite: true
